* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-size: 50px;
  color: black;
  position: relative;
  bottom: 30vh;
  left: 16vw;
}

a {
  text-decoration: none;
}

.mediacenter {
  position: absolute;
  bottom: 5vh;
  left: 6vw;
  flex-wrap: wrap;
  text-align: center;
}


.charView {
  border-style: solid;
  border-color: white;
  font-size: 12px;
  position: absolute;
  left: 25vw;
  display: inline-flex;
  flex-wrap: wrap;
  /*display: inline-grid;*/
  min-width: 300px;
  width: 50vw;
  margin-top: 30px;
}

.bio {
  font-size: 10px;
  margin-left: 30px;
  color: white;
}
