<link rel="stylesheet" href="css/homepage.css">
<img src="swapi-json-server/public/Scarif.png" style="width: 100vw">
<div class="mediacenter">
<iframe min-width="560" min-height="315" src="https://www.youtube.com/embed/FaOSCASqLsE" frameborder="0" allowfullscreen></iframe>
<iframe min-width="560" min-height="315" src="https://www.youtube.com/embed/wxL8bVJhXCM" frameborder="0" allowfullscreen></iframe>
<iframe min-width="560" min-height="315" src="https://www.youtube.com/embed/Ax7tmaYObIQ" frameborder="0" allowfullscreen></iframe>
<iframe min-width="560" min-height="315" src="https://www.youtube.com/embed/Kz3FeSDWxvI" frameborder="0" allowfullscreen></iframe>
</div>
